perftests/ddom-perftests-cxf-common/src/main/resources/META-INF/wsdl/library-signencr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.sosnoski.com/library/wsdl"
    xmlns:wns="http://ws.sosnoski.com/library/wsdl"
    xmlns:tns="http://ws.sosnoski.com/library/types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
  
  <!-- Policy for first signing and then encrypting all messages, with the certificate
   included in the message from client to server but only a thumbprint on messages from
   the server to the client. -->
  <wsp:Policy wsu:Id="SignEncr" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
  
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:RequireThumbprintReference/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:RequireThumbprintReference/>
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:OnlySignEntireHeadersAndBody/>
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body/>
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <sp:Body/>
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  
  <wsdl:types>
  
    <schema elementFormDefault="qualified"
        targetNamespace="http://ws.sosnoski.com/library/wsdl"
        xmlns="http://www.w3.org/2001/XMLSchema">
      
      <import namespace="http://ws.sosnoski.com/library/types"/>
        
      <element name="getBook">
        <complexType>
          <sequence>
            <element name="isbn" type="string"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getBookResponse">
        <complexType>
          <sequence>
            <element name="getBookReturn" minOccurs="0" type="tns:BookInformation"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getBooksByType">
        <complexType>
          <sequence>
            <element name="type" type="string"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getBooksByTypeResponse">
        <complexType>
          <sequence>
            <element name="getBooksByTypeReturn" minOccurs="0" maxOccurs="unbounded" type="tns:BookInformation"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="getTypes">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      
      <element name="getTypesResponse">
        <complexType>
          <sequence>
            <element name="getTypesReturn" maxOccurs="unbounded" type="tns:TypeInformation"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="addBook">
        <complexType>
          <sequence>
            <element name="type" type="string"/>
            <element name="isbn" type="string"/>
            <element name="author" minOccurs="0" maxOccurs="unbounded" type="string"/>
            <element name="title" type="string"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="addBookResponse">
        <complexType>
          <sequence>
            <element name="addBookReturn" type="boolean"/>
          </sequence>
        </complexType>
      </element>
      
      <element name="addDuplicate">
        <complexType>
          <sequence>
            <element name="book" type="tns:BookInformation"/>
          </sequence>
        </complexType>
      </element>
    
    </schema>
    
    <schema elementFormDefault="qualified"
        targetNamespace="http://ws.sosnoski.com/library/types"
        xmlns="http://www.w3.org/2001/XMLSchema">
      
      <complexType name="BookInformation">
        <sequence>
          <element name="author" minOccurs="0" maxOccurs="unbounded" type="string"/>
          <element name="title" type="string"/>
        </sequence>
        <attribute name="type" use="required" type="string"/>
        <attribute name="isbn" use="required" type="string"/>
      </complexType>
      
      <complexType name="TypeInformation">
        <simpleContent>
          <extension base="string">
            <attribute name="count" use="required" type="int"/>
            <attribute name="name" use="required" type="string"/>
          </extension>
        </simpleContent>
      </complexType>
      
    </schema>
    
  </wsdl:types>

  <wsdl:message name="getBookRequest">
    <wsdl:part element="wns:getBook" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getBookResponse">
    <wsdl:part element="wns:getBookResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getBooksByTypeRequest">
    <wsdl:part element="wns:getBooksByType" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getBooksByTypeResponse">
    <wsdl:part element="wns:getBooksByTypeResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="getTypesRequest">
    <wsdl:part element="wns:getTypes" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getTypesResponse">
    <wsdl:part element="wns:getTypesResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addBookRequest">
    <wsdl:part element="wns:addBook" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="addBookResponse">
    <wsdl:part element="wns:addBookResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addDuplicateFault">
    <wsdl:part element="wns:addDuplicate" name="fault"/>
  </wsdl:message>

  <wsdl:portType name="Library">

    <wsdl:operation name="getBook">
      <wsdl:input message="wns:getBookRequest" name="getBookRequest"/>
      <wsdl:output message="wns:getBookResponse" name="getBookResponse"/>
    </wsdl:operation>

    <wsdl:operation name="getBooksByType">
      <wsdl:input message="wns:getBooksByTypeRequest" name="getBooksByTypeRequest"/>
      <wsdl:output message="wns:getBooksByTypeResponse" name="getBooksByTypeResponse"/>
    </wsdl:operation>

    <wsdl:operation name="getTypes">
      <wsdl:input message="wns:getTypesRequest" name="getTypesRequest"/>
      <wsdl:output message="wns:getTypesResponse" name="getTypesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="addBook">
      <wsdl:input message="wns:addBookRequest" name="addBookRequest"/>
      <wsdl:output message="wns:addBookResponse" name="addBookResponse"/>
      <wsdl:fault message="wns:addDuplicateFault" name="addDuplicateFault"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="LibrarySoapBinding" type="wns:Library">
  
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        URI="#SignEncr"/>

    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getBook">
    
      <wsdlsoap:operation soapAction="urn:getBook"/>
      
      <wsdl:input name="getBookRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      
      <wsdl:output name="getBookResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      
    </wsdl:operation>

    <wsdl:operation name="getBooksByType">
    
      <wsdlsoap:operation soapAction="urn:getBooksByType"/>
      
      <wsdl:input name="getBooksByTypeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      
      <wsdl:output name="getBooksByTypeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      
    </wsdl:operation>

    <wsdl:operation name="getTypes">
    
      <wsdlsoap:operation soapAction="urn:getTypes"/>
      
      <wsdl:input name="getTypesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>

      <wsdl:output name="getTypesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>

    <wsdl:operation name="addBook">

      <wsdlsoap:operation soapAction="urn:addBook"/>

      <wsdl:input name="addBookRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>

      <wsdl:output name="addBookResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

      <wsdl:fault name="addDuplicateFault">
        <wsdlsoap:fault name="addDuplicateFault" use="literal"/>
      </wsdl:fault>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="CXFLibrary">

    <wsdl:port binding="wns:LibrarySoapBinding" name="library">
      <wsdlsoap:address location="http://localhost:8080/cxf-library-signencr"/>
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
